body {
	background-color: #171717;
	font: 1em sans-serif;
}

/***********************************************************************************
** HEADER
***********************************************************************************/

header h1 {
	text-align: center;
	color: #F3DF49;
}
h2 {
	color: #F3DF49;
}

/***********************************************************************************
** #CONTAINER
***********************************************************************************/

#container {
    position: absolute;
        top: 0px;
        left: 200px;
        right: 0px;
    bottom: 0px;
    margin: 10px 10px 10px 0px;
	background-color: #2E2E2C;
	width: auto;
		min-width: 500px;
		max-width: 2000px;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}

/***********************************************************************************
** NAV MENU
***********************************************************************************/

#sidebar {
    position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
    width: 200px;
    background-color: #171717
}
#sidebar h1 {
    color: #F3DF49;
    margin: 20px 10px;
    text-align: center;
}
#sidebar ul {
	display: block;
	margin: 10px;
	padding: 0px;
	background: #2E2E2C;
	border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
    -webkit-user-select: none;
}
#sidebar ul li {
	display: block;
	width: 100%;
    color: #F3DF49;
    border-bottom: 1px solid #404040;
}
nav ul li a {
	cursor: pointer;
	display: block;
    text-align: center;
    text-decoration: none;
    padding: 8px 8px 8px 8px;
}
nav ul li:last-child {
    border-bottom: none !important;
}
nav ul li a:hover,
nav ul li a:focus{
    background: rgba(255,255,255,.2);
}
nav ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

/***********************************************************************************
** SECTIONS
***********************************************************************************/

section {
	margin: 0px;
	padding: 10px 20px;
	display: none;
	overflow: auto;
}
section.active {
	display: block;
}
section .subsection {
    margin: 5px 0px;
    padding: 5px 15px;
    border: 1px solid #383838;
    border-radius: 5px;
    color: #b9b9b9;
}
section .subsection a {
    color: #F3DF49;
}

/***********************************************************************************
**  INPUTS
***********************************************************************************/

#add-script input, #scripts select {
	display: block;
	width: 100%;
	margin: 5px 5px;
}
#options label {
    display: inline-block;
    color: #b9b9b9;
    margin: 0px 10px 10px 0px;
}
.ace-editor.options {
    position: absolute !important;
        top: 100px;
        bottom: 90px;
        left: 20px;
        right: 20px;
	margin: 5px;
}
.bottom-div {
    position: absolute;
        bottom: 50px;
}
.button {
	display: inline-block;
	width: 150px !important;
}